/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
//@import 'styles/prism-duotone-sea.css';
//@import "styles/prism-colddark-dark.css";
/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  //background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  @apply flex min-h-screen w-full flex-auto flex-col antialiased;
}

//div {
//  router-outlet {
//    + * {
//      position: relative;
//      display: flex;
//      flex: 1 1 auto;
//      width: 100%;
//      min-height: 100dvh;
//      z-index: 99;
//      @apply px-[0.5rem] py-6 sm:px-12 md:px-20 lg:p-6;
//    }
//  }
//}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  @apply box-content;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

jhd-root {
  @apply flex h-screen flex-col;
}

jhd-nav {
  @apply sticky top-0 w-full z-50;
}

jhd-main {
  @apply flex-1 overflow-y-scroll;
}

jhd-post-list {
  @apply flex flex-col flex-wrap justify-center sm:flex-row gap-4;
}

jhd-post-card {
  @apply w-full justify-center shadow-xl  sm:w-96;
}

jhd-footer {
  @apply btm-nav btm-nav-lg sticky bottom-0 z-50 w-full;
}

//https://fonts.google.com/specimen/Cute+Font?classification=Display
//https://fonts.google.com/specimen/Gruppo?classification=Display
